<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hmcts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Hmcts">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# GOV.UK Frontend CSS - version 5.6.0 (stable release from Dec 2024) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/govuk-frontend@5.6.0/dist/govuk/govuk-frontend.min.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="module">
      import { initAll } from 'https://cdn.jsdelivr.net/npm/govuk-frontend@5.6.0/dist/govuk/govuk-frontend.min.js'
      document.addEventListener('turbo:load', () => { initAll() })
      initAll()
    </script>
  </head>

  <body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled') + ' govuk-frontend-supported';</script>
    <% if authenticated? %>
      <%= govuk_header(homepage_url: root_path, service_name: "HMCTS Login Test", service_url: root_path) do |header|
        header.with_navigation_item(text: "About", href: "#", active: false)
        header.with_navigation_item(text: Current.user.email_address, href: "#")
        header.with_navigation_item(text: "Sign out", href: logout_path, active: false)
      end %>
    <% else %>
      <%= govuk_header(homepage_url: root_path, service_name: "HMCTS Login Test", service_url: root_path) do |header|
        header.with_navigation_item(text: "About", href: "#", active: false)
        header.with_navigation_item(text: "Sign in", href: new_session_path, active: current_page?(new_session_path))
      end %>
    <% end %>

    <%= yield %>
    <footer>
      <% meta_items = [
        { text: "Cookies", href: "#" },
        { text: "Privacy", href: "#" },
        { text: "Terms and conditions", href: "#" }
      ] %>
      <%= govuk_footer(meta_items_title: "Helpful links", meta_items: meta_items) %>
    </footer>
  </body>
</html>
